ag2==0.11.2
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.4
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.84.0
anyio==4.12.1
appdirs==1.4.4
asttokens==3.0.1
attrs==25.4.0
autogen==0.11.2
autogen-agent==0.0.1
autogen-agentchat==0.5.7
autogen-core==0.5.7
autogen-ext==0.5.7
autogenstudio==0.4.2.2
azure-ai-documentintelligence==1.0.2
azure-ai-inference==1.0.0b9
azure-ai-projects==2.0.0b4
azure-common==1.1.28
azure-core==1.38.1
azure-cosmos==4.14.6
azure-functions==1.24.0
azure-identity==1.25.2
azure-search-documents==11.6.0
azure-storage-blob==12.28.0
azureopenai==0.0.1
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
branca==0.8.2
build==1.4.0
cachetools==7.0.2
certifi==2026.1.4
cffi==2.0.0
cftime==1.6.5
charset-normalizer==3.4.4
choreographer==1.2.1
chromadb==1.5.2
click==8.3.1
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.5
cssselect==1.4.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==4.5.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
dotenv==0.9.9
durationpy==0.10
email-validator==2.3.0
et_xmlfile==2.0.0
executing==2.2.1
fais==0.0.18
faiss-cpu==1.13.2
fastapi==0.129.0
fastapi-cli==0.0.21
fastapi-cloud-cli==0.11.0
fastar==0.8.0
filelock==3.24.3
flatbuffers==25.12.19
folium==0.20.0
fonttools==4.61.1
fpdf==1.7.2
frozenlist==1.8.0
fsspec==2025.10.0
gensim==4.4.0
gitdb==4.0.12
GitPython==3.1.46
googleapis-common-protos==1.72.0
greenlet==3.3.2
grpcio==1.78.0
h11==0.16.0
hf-xet==1.3.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.4.1
humanfriendly==10.0
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.3.0
instructor==1.14.5
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.1
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kaleido==1.2.0
kiwisolver==1.4.9
kubernetes==35.0.0
langchain==1.2.10
langchain-anthropic==1.3.4
langchain-chroma==1.1.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.15
langchain-openai==1.1.10
langchain-text-splitters==1.1.1
langfuse==3.14.5
langgraph==1.0.10
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.9
langsmith==0.7.6
logistro==2.0.1
loguru==0.7.3
lxml==6.0.2
magika==0.6.3
Mako==1.3.10
mammoth==1.11.0
markdown-it-py==4.0.0
markdownify==1.2.2
markitdown==0.1.5
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
msal==1.35.0
msal-extensions==1.3.1
multidict==6.7.1
multiprocess==0.70.18
mypy_extensions==1.1.0
narwhals==2.17.0
nest-asyncio==1.6.0
netCDF4==1.7.4
networkx==3.6.1
nltk==3.9.2
numpy==2.4.2
oauthlib==3.3.1
olefile==0.47
onnxruntime==1.20.1
openai==2.24.0
opencv-python==4.13.0.92
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
orjson==3.11.7
ormsgpack==1.12.2
overrides==7.7.0
packaging==25.0
pandas==2.3.3
parso==0.8.6
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
platformdirs==4.5.1
playwright==1.58.0
plotly==6.6.0
pluggy==1.6.0
posthog==5.4.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==5.29.6
psutil==7.2.2
psycopg==3.3.3
pure_eval==0.2.3
pyarrow==23.0.1
pybase64==1.4.3
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.1
Pygments==2.19.2
PyJWT==2.11.0
pyparsing==3.3.2
pypdfium2==5.5.0
PyPika==0.51.1
pyproject_hooks==1.2.0
pyquery==2.0.1
pyreadline3==3.5.4
pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
python-pptx==1.0.2
pytz==2026.1.post1
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
ragas==0.4.3
referencing==0.37.0
regex==2026.2.19
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.2
rich-toolkit==0.19.4
rignore==0.7.6
rpds-py==0.30.0
scikit-learn==1.8.0
scikit-network==0.33.5
scipy==1.17.1
sentry-sdk==2.52.0
services==0.1.1
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
smart_open==7.5.1
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
SpeechRecognition==3.14.5
SQLAlchemy==2.0.47
sqlmodel==0.0.37
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.52.1
streamlit==1.55.0
streamlit-folium==0.26.2
sympy==1.14.0
tenacity==9.1.4
termcolor==3.3.0
textblob==0.19.0
threadpoolctl==3.6.0
tiktoken==0.12.0
timedelta==2020.12.3
tokenizers==0.22.2
toml==0.10.2
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
tweepy==4.16.0
typer==0.24.1
typer-slim==0.24.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
utils==1.0.2
uuid_utils==0.14.1
uvicorn==0.40.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.6.0
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.5
wikipedia==1.4.0
win32_setctime==1.2.0
wrapt==1.17.3
xlrd==2.0.2
xlsxwriter==3.2.9
xxhash==3.6.0
xyzservices==2025.11.0
yarl==1.22.0
youtube-transcript-api==1.0.3
zipp==3.23.0
zstandard==0.25.0
